/datahandling/handlers/std_addtrainingcredits
/datahandling/handlers/std_createcategory
/datahandling/handlers/std_createcourse
/datahandling/handlers/std_createvinstance
/datahandling/handlers/std_generateseats
/datahandling/handlers/std_openltiaccess
/datahandling/handlers/std_unlockpdcertificate
/paymodes/paypalapi
/paymodes/systempay
/paymodes/mercanet
/paymodes/ogone
/paymodes/publicmandate
