/* Generic shop table */

.shop-table {
    display:table;
    text-align:left;
    width:100%;
    padding: 0px !important;
}

.shop-row {
    display:table-row;
}

.shop-cell {
    display:table-cell;
    padding:8px;
}

.shop-cell.param {
    background-color:#d0d0d0;
    color:white;
    font-weight:bold;
    border-top:1px solid #fefefe;
    border-bottom:1px solid #fefefe;
}

.shop-cell.header {
    background-color:#a0a0a0;
    color:white;
    font-weight:bold;
    border-top:1px solid #fefefe;
    border-bottom:1px solid #fefefe;
}

.shop-cell.value {
    background-color:#fefefe;
    color:#808080;
    font-weight:normal;
    border-top:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
}

/* Other classes */

.shop-article{
    font-size:100%;
}

.shop-article.shadowed{
    opacity:0.4;
    -moz-opacity:0.4;
    filter:alpha(opacity=40);
}

.shop-not-available {
    color:#a00000;
    background-color:#FFA0A0;
    margin:3px;
    padding:4px;
}

.shop-ordercell,
.shop-ordercell * {
    font-size : 0.90em;
}

.shop-finalcount,
.shop-finalcount * {
    font-size : 1.15em;
}

.shop-notification{
    padding:30px;
    margin:10px;
    background-color:#fdfdfd;
    border:1px solid #f0f0f0;
}

.shop-notification-message{
     border:2px solid #A5A0CB;
     padding:15px;
     border-radius:15px;
     font-size:1.4em;
}

.shop-message-hidden {
    display:none;
}

#shop-notification-message-followup{
    /* initial state */
    margin-top:15px;
}

#shop-notification-result{
     border:2px solid #A5A0CB;
     padding:15px;
     border-radius:15px;
     font-size:1.4em;
     background-color:#4AC1B3;
     color:white;
     margin-bottom:20px;
}

.shop-description{
    padding:10px;
    margin:10px;
    background-color:#fdfdfd;
    border:1px solid #f0f0f0;
}

#shop-adminlinks{
    margin:5px;
    background-color:#f0f0f0;
    border:1px dashed #e0e0e0;
    border-radius:7px;
}

#shop-orderblock{
}

#page-blocks-shop-shop-view .generaltable td .lastcol{
    text-align : right;
}

.shop-summary{
    margin-left:5px;
    margin-right:10px;
    padding:5px;
    width:20%
}

#shop-ordertotals{
    margin-top:10px;
}

#shop-ordertotals table td{
    padding:3px;
}

#shop-paymodes{
}

#shop-paymodes td{
    padding:3px;
}

#progress{
    margin-bottom:20px;
    line-height:40px;
}

#shop-customerdata,
#shop-organisationdata{
     border:2px solid #A5A0CB;
     padding:15px;
     border-radius:15px;
}

#shop-customerdata td{
    padding:3px;
}

.shop-billstate{
    background-color : #D0DDE3;
    padding : 2px;
    width:120px;
    display:inline;
}

.shop-groupsubtotal{
    font-size : 1.2em;
    font-weight : bolder;
}

.shop-grouphead{
    font-size : 1.3em;
    color : white;
    padding:1px;
    background-color:#808090;
}

.shop-countrybox{
    max-width:140px;
    width:140px;
}

.shop-productcontent{
    text-align:left;
    padding-left:20px;
}

td.shop-productpix{
    width:180px;
    /* border-left: solid 1px #ccc; */
}

DIV.shop-bill_good{
    font-size:0.8em;
    color:green;
    font-style:italic;
}

DIV.shop-bill_error{
    font-size:0.8em;
    color:red;
    font-style:italic;
}

TABLE.shop-article{
    margin-bottom:10px;
    margin-right:10px;
}

.shop-availableinternalline{
    background-color:#E0F0E0;
    border:1px white solid;
}

.shop-availableline{
    background-color:#E0FFE0;
    border:1px white solid;
}

.shop-suspended{
    background-color:#FFE0E0;
    border:1px white solid;
}

.shop-providing{
    background-color:#E0E0F0;
    border:1px white solid;
}

.shop-abandonned{
    background-color:#B0B0B0;
    border:1px white solid;
}

/** more gobal effect styles **/

#shop-bills-view td,
#shop-bills-view th,
bshop-products-view td,
shop-products-view th{
    font-size : 1.1em;
}

.shop-totals.attribute{
    font-weight:bold;
}

.shop-billstate{
    font-size:1.5em;
    font-family:monospace;
    padding:2px;
    border:1px solid #606060;
}

.shop-form-attenuated{
    font-size:0.9em;
}

.shop-controls,
.shop-setcontrols {
    padding-left:8px;
    border-left:1px solid #D0D0D0;
    text-align:right;
    line-height:20px;
    min-width:80px;
    width:80px;
}

.shop-product-row td {
    padding-left:8px;
    padding-top:3px;
    padding-bottom:3px;
}

.shop-catalog-admin {
    border-collapse:collapse;
}

.shop-bundle-row .thumb img {
    margin-top:8px;
    margin-bottom:8px;
}

.shop-set-row,
.shop-product-row,
.shop-bundle-row {
    border:5px solid white;
}

.shop-hidden{
    display:none;
}

.shop-visible{
    display:block;
}

.shop-relocate-box {
    border: 1px dashed #B0B0B0;
}

INPUT.shop-error,
SELECT.shop-error{
    background-color:#FBCEC6 !important;
    background-image:url([[pix:theme|images/input_bg_error]]) !important;
    color:black !important;
}

.flowcontrol{
    margin-top:20px;
    margin-left:5px;
    margin-right:5px;
    background-color:#fafafa;
    border:1px #A0A0A0 dashed;
    padding:5px;
}

#billpanel,
#orderpanel{
    margin-left:10px;
    margin-right:10px;
}

.providingline { background-color : transparent ; color : #000000 }
.previewline { background-color : transparent ; color : #808080 }
.suspendedline { background-color : #fefefe ; color : #A0A0A0 }
.abandonnedline { background-color : #600000 ; color : #A00000 }
.slaved { 
    opacity:0.5;
    -moz-opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
}
.engraved {
    opacity:0.5;
    -moz-opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Engrave() progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100)
}

/* tabbedmenu */
.tabtree .tabrow0 li.active * {
    font-weight: bold;
    color: #000;
}

.shop-role-list-container,
.shop-information-area {
    border: 2px solid #a5a0cb;
    border-radius: 15px;
    padding: 15px;
    margin:5px;
}

.shop-pricelist {
    width:100%;
    font-size:0.9em;
    margin-bottom:10px;
    margin-top:10px;
}

.shop-pricerange{
    background-color:#EEEEEE;
    color:#737379;
    font-weight:bolder;
    padding:1px;
    padding-left:5px;
    /* border:#CCCCCC solid 1px; */
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
}

.shop-priceamount{
    font-weight:bolder;
    padding:3px;
}

.tiny-text{
    font-size:0.8em;
}

.shop-final-step-button{
    font-size:1.6em;
}

.shop-order-short{
    font-size:125%;
}

.shop-tax-line{
    font-size:75%;
}

.shop-error-notice{
    margin:20px;
    border:1px red solid;
    border-radius:8px;
    background-color:#FBCEC6;
    font-size:1.2em;
    font-weight:bold;
}

.shop-error-result{
    color:#CC0000;
}

.shop-warning-result{
    color:#CC9900;
}

.shop-message-result{
    color:#2BA501;
}

#addparticipant input,
#participantlist input{
    width:initial;
    font-size:0.9em;
}

.shop-products-caption th{
    font-size:0.8em;
}

.shop-product-row .lastcol{
    padding:0px;
}

div.shop-bill-abstract{
    font-size:0.8em;
    color:#606060;
}

#euladiv{
    background-color:#f2f2f2;
    position:absolute;
    padding:60px;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:100000;
}

#eulas-panel{
    height:60%;
    width:85%;
    overflow-y:scroll;
    padding:30px;
    margin-right:30px;
    border:solid 1px #D0D0D0;
    background-color:#ffffff;
}

.short-order-name{
    font-weight:bold;
    font-size:0.9em;
}

.short-order-summary{
    font-size:0.8em;
}

.shop-product-requ .shop-product-name {
    font-size:1.4em;
}

#shop-requirement-caption {
    margin-top:10px;
    border:1px solid #808080;
    border-radius:10px;
    -moz-border-radius:10px;
    padding:15px;
    font-size:1.1em;
    margin-bottom:15px;
}

.shop-product-requirements {
    margin-top:10px;
    border:1px solid #808080;
    border-radius:10px;
    -moz-border-radius:10px;
    padding:5px;
}

.shop-product-requirement {
    background-color:#BABCDC;
    color:#000;
    padding:3px;
    font-weight:bolder;
    border-radius:8px;
    margin-bottom:5px;
}

.requ-label {
    float:left;
    width:30%;
}

.requ-param {
    display:table-cell;
    padding-bottom:10px;
}

.requ-desc {
    padding:2px;
    font-size:0.9em;
    color:#606060;
    font-style:italic;
}

#requ-submit {
    text-align:right;
    margin-top:10px;
}

#requ-submit.unsaved input{
    background-image:-webkit-linear-gradient(top,#fee,#f66) !important;
}

#requ-submit input{
    width:180px;
}

.shop-requ-error {
    margin:4px;
    background-color:#ffe0e0;
    border:1px solid red;
    padding:3px;
    color:#A00000;
    border-radius:3px;
    font-size:0.8em;
    -moz-border-radius:3px;
}

.shop-requ-input-error {
    background-color:#ffe0e0;
    color:#ff0000;
}

table.shop-role-assignations > tr > td{
    padding:5px;
}

/** Front **/

.shop-front-setelements {
    padding-left:30px;
}

.shop-article.product .shop-front-productpix,
.shop-article.bundle .shop-front-productpix,
.shop-article.set .shop-front-productpix {
}

.shop-article.product .shop-front-productpix img,
.shop-article.bundle .shop-front-productpix img,
.shop-article.set .shop-front-productpix img {
    width:150px;
    height:150px;
    margin-right: 20px;
}

.shop-article.element .shop-front-productpix {
}

.shop-article.element .shop-front-productpix img {
    width:80px;
    height:80px;
    margin-right:20px;
}

.shop-article.product,
.shop-article.set,
.shop-article.bundle {
    padding:15px;
    border:1px solid #fdfdfd;
    border-radius:8px;
    margin:10px 2px;
}

.shop-article * {
    vertical-align:top;
    margin-top:10px;
}

.shop-article h1, 
.shop-article h2 {
    margin-top:0px;
} 


.shop-front-elements {
    display:table;
}

.shop-front-element {
    display:table-row;
}

.shop-front-productpix {
    display:table-cell;
}

.shop-front-productdef {
    display:table-cell;
}

.shop-front-pricerange, .shop-front-price, .shop-front-label {
    display:inline-block;
}

.shop-front-label {
    margin-right:15px;
}
.shop-front-label:after{
    content:":";
}

.shop-front-price {
    font-weight:bold;
    margin-right:3em;
    margin-left:1em;
}

shop-order-paymode {
    padding:15px;
    background-color:#E0E0E0;
    border:1px solid #d0d0d0;
    border-radius:8px;
}

.shop-shadow {
    opacity:60%;
    -moz-opacity:60%;
}

.shop-main-menu td {
    padding:8px;
}

.shop-category-chooser {
    margin-top:15px;
}

.shop-category-description {
    padding:30px;
    margin:10px;
    border:1px solid #f0f0f0;
    border-radius:10px;
    font-size:1.2em;
}

.shop-front-order * {
    margin-top:0px !important;
}

.shop-order-item {
    margin-left:8px;
    display:inline-block;
}

.shop-active-button {
    background-color:green !important;
    background-image:none !important;
    color:white !important;
}

#eula-form-validate {
    margin-top:20px;
}

.path-local-shop.pagelayout-popup #region-main{
    width:unset;
}

.path-local-shop.pagelayout-popup #page {
    padding-left:20px;
    max-width:unset;
}

.form-filter-menus,
.form-filter-menus > div {
    margin:10px;
}

.form-filter-menus div,
.form-filter-menus form {
    display:inline;
}