/* Generic shop table */

#page-local-shop-front-view #region-main-box {
    padding-left: 0;
    padding-right: 0;
}

.shop-table {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    text-align: left;
    width: 100%;
}

.shop-row {
    display: flex;
    flex-direction: row;
}

.shop-cell {
    padding: 8px;
}

.shop-paging {
    background-color: #666;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 0px 6px 2px 6px;
}

.shop-cell.param {
    background-color: #ddd;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    color: white;
    font-weight: bold;
}

.shop-cell.header {
    background-color: #aaa;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    color: white;
    font-weight: bold;
}

.shop-cell.value {
    background-color: #fefefe;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #888;
    font-weight: normal;
}

/* Other classes */

.shop-not-available {
    background-color: #ffa0a0;
    color: #a00000;
    margin: 3px;
    padding: 4px;
}

.shop-ordercell,
.shop-ordercell * {
    font-size: 0.90em;
}

@media all and (max-width: 560px) {
    .shop-ordercell {
        font-size: 130%;
    }
    .shop-ordercell * {
        font-size: 100%;
    }
}

.shop-finalcount,
.shop-finalcount * {
    font-size: 1.1em;
}

.shop-notification {
    margin: 10px;
    padding: 30px;
}

.shop-notification-message {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.4em;
    padding: 15px;
}

.shop-message-hidden {
    display: none;
}

#shop-notification-message-followup {
    /* initial state */
    margin-top: 15px;
}

#shop-notification-result {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #444;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 15px;
}

.shop-description {
    background-color: #fdfdfd;
    border:1px solid  #f0f0f0;
    margin: 10px;
    padding: 10px;
}

#shop-adminlinks {
    background-color: #f0f0f0;
    border: 1px dashed  #ccc;
    border-radius: 7px;
    margin: 5px;
}

#page-blocks-shop-shop-view .generaltable td .lastcol {
    text-align: right;
}

.shop-summary {
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
    width: 20%;
}

#shop-ordertotals {
    margin-top: 10px;
}

#shop-ordertotals table td {
    padding: 3px;
}

#shop-paymodes td {
    padding: 3px;
}

#progress {
    line-height: 40px;
    margin-bottom: 20px;
}

#shop-customerdata,
#shop-organisationdata {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

#shop-customerdata td {
    padding: 3px;
}

.shop-billstate {
    background-color: #ddd;
    display: inline;
    padding: 2px;
    width: 120px;
}

.shop-groupsubtotal {
    font-size: 1.2em;
    font-weight: bolder;
}

.shop-grouphead {
    background-color: #888;
    color: white;
    font-size: 1.3em;
    padding: 1px;
}

.shop-countrybox {
    max-width: 140px;
    width: 140px;
}

.shop-productcontent {
    padding-left: 20px;
    text-align: left;
}

td.shop-productpix {
    width: 180px;
}

div.shop-bill_good {
    color: green;
    font-size: 0.8em;
    font-style: italic;
}

div.shop-bill_error {
    color: red;
    font-size: 0.8em;
    font-style: italic;
}

.shop-entity-options {
    float: left;
}

.shop-bills-switchprefs {
    float: right;
    display: inline-block;
}

.shop-bills-searchlink {
    width: 150px;
    display: inline-block;
}

.shop-availableinternalline {
    background-color: #e0f0e0;
    border: 1px white solid;
}

.shop-availableline {
    background-color: #e0ffe0;
    border: 1px white solid;
}

.shop-suspended {
    background-color: #ffe0e0;
    border: 1px white solid;
}

.shop-providing {
    background-color: #e0e0f0;
    border: 1px white solid;
}

.shop-abandonned {
    background-color: #bbb;
    border: 1px white solid;
}

/* more gobal effect styles */

#shop-bills-view td,
#shop-bills-view th,
#shop-products-view td,
#shop-products-view th {
    font-size: 1.1em;
}

.shop-totals.attribute {
    font-weight: bold;
}

.shop-billstate {
    border: 1px solid #666;
    font-family: monospace;
    font-size: 1.5em;
    padding: 2px;
}

.shop-form-attenuated {
    font-size: 0.9em;
}

.shop-controls,
.shop-setcontrols {
    border-left: 1px solid #ccc;
    line-height: 20px;
    min-width: 80px;
    padding-left: 8px;
    text-align: right;
    width: 80px;
}

.shop-product-row td {
    padding-bottom: 3px;
    padding-left: 8px;
    padding-top: 3px;
}

.shop-catalog-admin {
    border-collapse: collapse;
}

.shop-bundle-row .thumb img {
    margin-bottom: 8px;
    margin-top: 8px;
}

.shop-set-row,
.shop-product-row,
.shop-bundle-row {
    border: 5px solid white;
}

.shop-hidden {
    display: none;
}

.shop-visible {
    display: block;
}

.shop-relocate-box {
    border: 1px dashed #ccc;
}

.shop-front-leaflet {
    margin: 20px 0;
}

input.shop-error,
select.shop-error {
    background-color: #fbcec6;
    background-image: url([[pix:theme|images/input_bg_error]]);
    color: black;
}

.shop-bills-flowcontrol {
    background-color: #fff0f0;
    border: 2px #f00 solid;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 15px;
}

#billpanel,
#orderpanel {
    margin-left: 40px;
    margin-right: 40px;
}

#order {
     border: 2px solid #ccc;
     border-radius: 8px;
     padding-left: 10px;
}

.providingline {
    background-color: transparent;
    color: #000;
}

.previewline {
    background-color: transparent;
    color: #888;
}

.suspendedline {
    background-color: #fefefe;
    color: #aaa;
}

.abandonnedline {
    background-color: #600000;
    color: #a00000;
}

.slaved {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

.engraved {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Engrave() progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

/* tabbedmenu */

.tabtree .tabrow0 li.active * {
    color: #000;
    font-weight: bold;
}

.shop-role-list-container,
.shop-information-area {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    padding: 15px;
}

.shop-pricelist {
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.shop-pricerange {
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #eee;
    border-radius: 8px;
    color: #777;
    font-weight: bolder;
    padding-left: 5px;
    padding: 1px;
}

.shop-priceamount {
    font-weight: bolder;
    padding: 3px;
}

.discount-overriden-amount {
    text-decoration: line-through;
    color: #aaa;
}

.tiny-text {
    font-size: 0.8em;
}

.shop-final-step-button {
    font-size: 1.6em;
}

.shop-order-short {
    font-size: 125%;
}

.shop-tax-line {
    font-size: 75%;
}

.shop-error-notice {
    background-color: #fcc;
    border: 2px red solid;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    line-height: 1.5em;
}

.shop-error-result {
    color: #cc0000;
}

.shop-warning-result {
    color: #c90;
}

.shop-message-result {
    color: #2ba501;
}

.shop-warning {
    color: #c00;
    background-color: #fee;
    padding: 5px;
    border-radius: 8px;
}

#addparticipant input,
#participantlist input {
    font-size: 0.9em;
    width: initial;
}

.shop-products-caption th {
    font-size: 0.8em;
}

.shop-product-row .lastcol {
    padding: 0;
}

div.shop-bill-abstract {
    color: #666;
    font-size: 0.8em;
}

#euladiv {
    background-color: #f2f2f2;
    height: 100%;
    left: 0;
    padding: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#eulas-panel {
    background-color: #fff;
    border: solid 1px #ccc;
    height: 90%;
    margin-right: 30px;
    overflow-y: scroll;
    padding: 30px;
    width: 90%;
}

.short-order-name {
    font-size: 0.9em;
    font-weight: bold;
}

.short-order-summary {
    font-size: 0.8em;
}

.shop-product-requ .shop-product-name {
    font-size: 1.4em;
}

#shop-requirement-caption {
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 15px;
}

.shop-product-requirements {
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-top: 10px;
    padding: 5px;
}

.shop-product-requirement {
    background-color: #babcdc;
    border-radius: 8px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 3px;
}

.requ-label {
    float: left;
    width: 30%;
}

.requ-param {
    display: table-cell;
    padding-bottom: 10px;
}

.requ-desc {
    color: #666;
    font-size: 0.9em;
    font-style: italic;
    padding: 2px;
}

#requ-submit {
    margin-top: 10px;
    text-align: right;
}

#requ-submit.unsaved input {
    background-image: -webkit-linear-gradient(top, #fee, #f66) !important;
}

#requ-submit input {
    width: 180px;
}

.shop-requ-error {
    -moz-border-radius: 8px;
    background-color: #ffe0e0;
    border-radius: 8px;
    border: 2px solid red;
    color: #a00000;
    font-size: 0.8em;
    margin: 4px;
    padding: 3px;
}

.shop-requ-input-error {
    background-color: #ffe0e0;
    color: #f00;
}

table.shop-role-assignations > tr > td {
    padding: 5px;
}

/** Front **/

.shop-front-setelements {
    padding-left: 30px;
}

.shop-article {
    font-size: 100%;
    vertical-align: top;
    align-items: center;
    justify-items: center;
}

.shop-article.shadowed {
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

table.shop-article {
    margin-bottom: 10px;
    margin-right: 10px;
}

.shop-article.product,
.shop-article.set,
.shop-article.bundle {
    border: 2px solid #fdfdfd;
    border-radius: 8px;
    margin: 10px 2px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 560px) {
    .shop-article.product,
    .shop-article.set,
    .shop-article.bundle {
        flex-wrap: wrap;
    }
}

.shop-article * {
    vertical-align: top;
}

.shop-article h1,
.shop-article h2 {
    margin-top: 0;
}

h3.shop-front-partof {
    font-size: 16px;
    line-height: 1.2em;
}

.shop-front-bundle-content {
    display: flex;
}

.shop-front-productpix {
    display: table-cell;
    padding-right: 25px;
}

.shop-bundle-content-head {
    margin-bottom: 2em;
}

.shop-front-productdef {
    display: table-cell;
    width: 100%;
}

.shop-front-productdef a[name]::before {
    content: initial !important;
    margin: 0 !important;
    padding: 0 !important;
}

.shop-front-refblock {
    display: flex;
    justify-content: space-between;
}

.shop-front-refblock > div {
    margin: 0 20px;
}

@media all and (max-width: 560px) {
    .shop-front-refblock > div {
        margin: 0;
    }
}

.shop-order-bag {
    text-align: right;
    min-width: 80px;
}

.shop-front-bundle-elements {
    display: flex;
    flex-wrap: wrap;
}

.shop-front-bundle-elements > div {
    flex-basis: 30%;
    margin: 0 20px;
}

.shop-front-pricerange, .shop-front-price, .shop-front-label {
    display: inline-block;
}

.shop-front-label {
    margin-right: 15px;
}

.shop-order-paymode {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

.shop-shadow {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

.shop-modal-header {
    display: flex;
    width: 100%;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ccc;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    outline: 0;
}

.shop-modal-box {
    padding: 40px;
}

.shop-modal-box .shop-front-order  {
    margin-left: auto;
    margin-right: 0;
}

.shop-modal-header img.product,
.shop-modal-header .modal-thumbnail img {
    height: 150px;
    margin-right: 40px;
    width: 150px;
}

.shop-main-menu td {
    padding: 8px;
}

.shop-category-chooser {
    margin-top: 15px;
}

.shop-category-description {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
}

@media all and (max-width: 560px) {
    .shop-category-description {
        margin: 0;
    	padding: 10px;
    }
}

.shop-front-order * {
    margin-top: 0 !important;
}

.shop-order-item {
    display: inline-block;
    margin-left: 8px;
}

.shop-active-button {
    background-color: green !important;
    background-image: none !important;
    color: white !important;
}

#eula-form-validate {
    margin-top: 20px;
}

.path-local-shop.pagelayout-popup #region-main{
    width: unset;
}

.path-local-shop.pagelayout-popup #page {
    max-width: unset;
    padding-left: 20px;
}

.form-filter-menus,
.form-filter-menus > div {
    margin: 10px;
}

.form-filter-menus div,
.form-filter-menus form {
    display: inline;
}

.shop-pass-state {
    display: inline-block;
}

.shop-category-visible {
    display: block;
}

.shop-category-hidden {
    display: none;
}

.shop-line-commands {
    padding: 5px;
    margin: 2px 2px 2px 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 8px;
}

#shop-loginbox {
    padding-bottom: 20px;
}

.access-code {
    display: block;
    font-size: 2.0em;
    padding: 10px;
}

ul.shop-test-result {
    padding: 5px 5px 5px 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
}

.shop-paymodes-choice {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px 0;
    padding: 10px;
}

.shop-inline,
.shop-inline * {
    display: inline;
}

.caddie .subcats a {
    font-size: 0.9em;
}

.caddie .subcats .nav-tabs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#shop-order-paymode {
    margin-bottom: 15px;
}

.shop-front-description-toggle {
    text-align: left;
    margin-bottom: 20px;
}

td.right-align {
    text-align: right !important;
}

#shop-invoice {
     border: 2px solid #ccc;
     border-radius: 8px;
}

#page-local-shop-front-view  .generaltable {
     width: 95%;
     margin-left: 20px;
}

#invoice-seller-address {
     padding-left: 20px;
}

#page-local-shop-front-view h1 {
     color: #000;
}

#page-local-shop-front-view .customer-data {
     border: 1px solid #444;
     margin-right: 20px;
     padding-left: 10px;
     padding-bottom: 10px;
}

.sectionHeader h2, h2#invoice-taxes , h2#invoice-paymode, h2#order-mailto {
     margin-left: 20px;
     color: #444;
     border-bottom: 2px solid #444;
     width: 95%;
     font-size: 1.5rem;
}

#shop-order-paymode {
     margin-left: 20px;
}

h2.shop-caption {
     margin-left: 40px;
}

/* settings form */
#id_s_local_shop_printconfig {
    font-family: monospace;
}

#page-local-shop-front-view .form-input input[type="text"] {
    padding: 3px;
}

#page-local-shop-front-view .form-label {
    padding-top: 5px;
}

#page-local-shop-front-view #shop-customerinfo {
    padding-left: 20px;
    margin-bottom: 20px;
}

#local-shop-catlinks {
    display: flex;
    justify-content: space-between;
}

.left-links {
    display: inline-block;
}

.right-links {
    display: inline-block;
    text-align: right;
}

.shop-front-description {
    font-size: 1.11em;
    line-height: 1.5em;
    font-weight: normal;
}

.shop-front-description b,
.shop-front-description strong {
    font-weight: bolder;
}

.shop-category-description h1 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}

.shop-category-description h1 b,
.shop-category-description h1 strong {
    font-weight: bolder;
}

#page-local-shop-front-view #region-main {
    min-height: 600px;
}

#page-local-shop-front-view [disabled="disabled"] {
    opacity: 0.5;
}

#progress img {
    height: 50px;
}

.shopcategory .modal-dialog {
    width: 80%;
}

@media screen and (max-width: 480px) {
    .shopcategory .modal-dialog {
        width: 95%;
    }
}

.shop-article.product > .shop-front-productpix img, .shop-article.bundle > .shop-front-productpix img, .shop-article.set > .shop-front-productpix img {
    height: 150px;
    margin-right: 40px;
    width: 150px;
}

#shop-bill-customerinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#shop-panel-caption {
    border: solid 2px #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

div#shop-printable-bill {
    text-align: center;
}

/* shop buttons (price and purchase) */

.shop-front-label {
    margin-right: 15px;
    padding-top: 20px;
}

.shop-front-price-container {
    background-color: #444;
    /* background-color: $brandsecondary; Add in scss overrides for scss enabled themes */
    border-radius: 50%;
    width: 65px;
    height: 65px;
    box-shadow: 4px 4px 10px -2px #ccc;
    color: #fff;
}

.shop-front-price {
    position: relative;
    font-weight: 700;
    top: calc(35%);
    text-align: center;
    margin-right: 0em;
    display: block;
}

#shop-adminlinks {
    margin: 10px;
    padding: 10px;
    border: 2px dashed #faa;
    background-color: #fdd;
    border-radius: 8px;
    width: min-content;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#shop-customer-info {
    margin: 0 40px;
}

#page-local-shop-front-view .generaltable tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.0);
}

#page-local-shop-front-view .generaltable tbody tr:hover {
    background-color: transparent;
}

.discount-rate {
    float: right;
    padding: 0 10px;
    background-color: #eee;
    border-radius: 8px;
}

.amount-primary {
    color: black;
}

.amount-secondary {
    font-size: 0.85em;
    color: #88e;
}

div.purchaseoption {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

input.purchaseoption {
    position: relative;
    height: 1.5em;
    width: 1.5em;
    margin-right: 20px;
}

input.purchaseoption:checked {
    color: #080;
}

.shop-entity-tools {
    font-size: 0.8em;
    display: flex;
}

.purchased-product-name {
    font-size: 0.8em;
    color: #bbb;
}

.purchased-product-extradata {
    font-size: 0.8em;
    color: #bbb;
}

h3.product-detail {
    font-size: 1em;
}

.local-shop-bundle-thumbnail {
    max-width: 250px;
}