/* Generic shop table */

.shop-table {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    text-align: left;
    width: 100%;
}

.shop-row {
    display: table-row;
}

.shop-cell {
    display: table-cell;
    padding: 8px;
}

.shop-cell.param {
    background-color: #d0d0d0;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    color: white;
    font-weight: bold;
}

.shop-cell.header {
    background-color: #a0a0a0;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
    color: white;
    font-weight: bold;
}

.shop-cell.value {
    background-color: #fefefe;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    color: #808080;
    font-weight: normal;
}

/* Other classes */

.shop-not-available {
    background-color: #ffa0a0;
    color: #a00000;
    margin: 3px;
    padding: 4px;
}

.shop-ordercell,
.shop-ordercell * {
    font-size: 0.90em;
}

.shop-finalcount,
.shop-finalcount * {
    font-size: 1.15em;
}

.shop-notification {
    background-color: #fdfdfd;
    border: 1px solid #f0f0f0;
    margin: 10px;
    padding: 30px;
}

.shop-notification-message {
    border: 2px solid #a5a0cb;
    border-radius: 15px;
    font-size: 1.4em;
    padding: 15px;
}

.shop-message-hidden {
    display: none;
}

#shop-notification-message-followup {
    /* initial state */
    margin-top: 15px;
}

#shop-notification-result {
    background-color: #4ac1b3;
    border: 2px solid #a5a0cb;
    border-radius: 15px;
    color: white;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 15px;
}

.shop-description {
    background-color: #fdfdfd;
    border:1px solid  #f0f0f0;
    margin: 10px;
    padding: 10px;
}

#shop-adminlinks {
    background-color: #f0f0f0;
    border:1px dashed  #e0e0e0;
    border-radius: 7px;
    margin: 5px;
}

#shop-orderblock {
}

#page-blocks-shop-shop-view .generaltable td .lastcol {
    text-align: right;
}

.shop-summary {
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
    width: 20%
}

#shop-ordertotals {
    margin-top: 10px;
}

#shop-ordertotals table td {
    padding: 3px;
}

#shop-paymodes {
}

#shop-paymodes td {
    padding: 3px;
}

#progress {
    line-height: 40px;
    margin-bottom: 20px;
}

#shop-customerdata,
#shop-organisationdata {
    border: 2px solid #a5a0cb;
    border-radius: 15px;
    padding: 15px;
}

#shop-customerdata td {
    padding: 3px;
}

.shop-billstate{
    background-color: #D0DDE3;
    display: inline;
    padding: 2px;
    width: 120px;
}

.shop-groupsubtotal {
    font-size: 1.2em;
    font-weight: bolder;
}

.shop-grouphead{
    background-color: #808090;
    color: white;
    font-size: 1.3em;
    padding: 1px;
}

.shop-countrybox {
    max-width: 140px;
    width: 140px;
}

.shop-productcontent {
    padding-left: 20px;
    text-align: left;
}

td.shop-productpix {
    width: 180px;
}

div.shop-bill_good {
    color: green;
    font-size: 0.8em;
    font-style: italic;
}

div.shop-bill_error {
    color: red;
    font-size: 0.8em;
    font-style: italic;
}

.shop-bills-options {
    float: left;
}

.shop-bills-switchprefs {
    float: right;
    display: inline-block;
}

.shop-bills-searchlink {
    width:150px;
    display:inline-block;
}

.shop-availableinternalline {
    background-color: #e0f0e0;
    border: 1px white solid;
}

.shop-availableline {
    background-color: #e0ffe0;
    border: 1px white solid;
}

.shop-suspended {
    background-color: #ffe0e0;
    border: 1px white solid;
}

.shop-providing {
    background-color: #e0e0f0;
    border: 1px white solid;
}

.shop-abandonned {
    background-color: #B0B0B0;
    border: 1px white solid;
}

/* more gobal effect styles */

#shop-bills-view td,
#shop-bills-view th,
#shop-products-view td,
#shop-products-view th {
    font-size: 1.1em;
}

.shop-totals.attribute {
    font-weight: bold;
}

.shop-billstate {
    border: 1px solid #606060;
    font-family: monospace;
    font-size: 1.5em;
    padding: 2px;
}

.shop-form-attenuated {
    font-size: 0.9em;
}

.shop-controls,
.shop-setcontrols {
    border-left: 1px solid #d0d0d0;
    line-height: 20px;
    min-width: 80px;
    padding-left: 8px;
    text-align: right;
    width: 80px;
}

.shop-product-row td {
    padding-bottom: 3px;
    padding-left: 8px;
    padding-top: 3px;
}

.shop-catalog-admin {
    border-collapse: collapse;
}

.shop-bundle-row .thumb img {
    margin-bottom: 8px;
    margin-top: 8px;
}

.shop-set-row,
.shop-product-row,
.shop-bundle-row {
    border: 5px solid white;
}

.shop-hidden {
    display: none;
}

.shop-visible {
    display: block;
}

.shop-relocate-box {
    border: 1px dashed #b0b0b0;
}

input.shop-error,
select.shop-error {
    background-color: #fbcec6 !important;
    background-image: url([[pix:theme|images/input_bg_error]]) !important;
    color: black !important;
}

.shop-bills-flowcontrol {
    background-color: #fff0f0;
    border: 4px #ff0000 solid;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 15px;
}

#billpanel,
#orderpanel {
    margin-left: 10px;
    margin-right: 10px;
}

.providingline {
    background-color: transparent;
    color: #000;
}
.previewline {
    background-color: transparent;
    color: #808080;
}
.suspendedline {
    background-color: #fefefe;
    color: #a0a0a0;
}
.abandonnedline {
    background-color: #600000;
    color: #a00000;
}

.slaved {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

.engraved {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Engrave() progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

/* tabbedmenu */

.tabtree .tabrow0 li.active * {
    color: #000;
    font-weight: bold;
}

.shop-role-list-container,
.shop-information-area {
    border: 2px solid #a5a0cb;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
}

.shop-pricelist {
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.shop-pricerange {
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #eeeeee;
    border-radius: 6px;
    color: #737379;
    font-weight: bolder;
    padding-left: 5px;
    padding: 1px;
}

.shop-priceamount {
    font-weight: bolder;
    padding: 3px;
}

.tiny-text {
    font-size: 0.8em;
}

.shop-final-step-button {
    font-size: 1.6em;
}

.shop-order-short {
    font-size: 125%;
}

.shop-tax-line {
    font-size: 75%;
}

.shop-error-notice {
    background-color: #ffcccc;
    border: 1px red solid;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    line-height: 1.5em;
}

.shop-error-result {
    color: #cc0000;
}

.shop-warning-result {
    color:#cc9900;
}

.shop-message-result {
    color:#2ba501;
}

#addparticipant input,
#participantlist input {
    font-size: 0.9em;
    width: initial;
}

.shop-products-caption th {
    font-size: 0.8em;
}

.shop-product-row .lastcol {
    padding: 0;
}

div.shop-bill-abstract {
    color: #606060;
    font-size: 0.8em;
}

#euladiv {
    background-color: #f2f2f2;
    height: 100%;
    left: 0;
    padding: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#eulas-panel {
    background-color: #ffffff;
    border: solid 1px #d0d0d0;
    height: 60%;
    margin-right: 30px;
    overflow-y: scroll;
    padding: 30px;
    width: 85%;
}

.short-order-name {
    font-size: 0.9em;
    font-weight: bold;
}

.short-order-summary {
    font-size: 0.8em;
}

.shop-product-requ .shop-product-name {
    font-size: 1.4em;
}

#shop-requirement-caption {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 15px;
}

.shop-product-requirements {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    margin-top: 10px;
    padding: 5px;
}

.shop-product-requirement {
    background-color: #babcdc;
    border-radius: 8px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 3px;
}

.requ-label {
    float:left;
    width:30%;
}

.requ-param {
    display: table-cell;
    padding-bottom: 10px;
}

.requ-desc {
    color: #606060;
    font-size: 0.9em;
    font-style: italic;
    padding: 2px;
}

#requ-submit {
    margin-top: 10px;
    text-align: right;
}

#requ-submit.unsaved input {
    background-image: -webkit-linear-gradient(top, #ffeeee, #ff6666) !important;
}

#requ-submit input {
    width: 180px;
}

.shop-requ-error {
    -moz-border-radius: 3px;
    background-color: #ffe0e0;
    border-radius: 3px;
    border: 1px solid red;
    color: #A00000;
    font-size: 0.8em;
    margin: 4px;
    padding: 3px;
}

.shop-requ-input-error {
    background-color: #ffe0e0;
    color: #ff0000;
}

table.shop-role-assignations > tr > td {
    padding: 5px;
}

/** Front **/

.shop-front-setelements {
    padding-left: 30px;
}

.shop-article {
    font-size: 100%;
    vertical-align: top;
    align-items: center;
    justify-items: center;
}

.shop-article.shadowed {
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

table.shop-article {
    margin-bottom: 10px;
    margin-right: 10px;
}

.shop-article.product,
.shop-article.set,
.shop-article.bundle {
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    margin: 10px 2px;
    padding: 15px;
}

.shop-article * {
    vertical-align: top;
}

.shop-article h1,
.shop-article h2 {
    margin-top: 0;
}

h3.shop-front-partof {
    font-size: 16px;
    line-height: 1.2em;
}

.shop-article.bundle .shop-front-elements {
    display: table;
}

.shop-article.bundle .shop-front-element {
    display: table-row;
}

.shop-article.set .shop-front-elements {
    display: flex;
    flex-direction: row;
}

.shop-article.set .shop-front-elements > div {
    flex-basis: 49%;
}

.shop-front-productpix {
    display: table-cell;
}

.shop-front-productdef {
    display: table-cell;
    width: 100%;
}

.shop-front-productdef a[name]::before {
    content:initial !important;
    margin:0px !important;
    padding:0px !important;
}


.shop-front-refblock {
    display: flex;
	justify-content: flex-end;
}

.shop-front-refblock > div {
	margin: 0 20px;
}

.shop-order-bag {
    text-align: right;
	min-width: 80px;
}

.shop-front-bundle-elements {
    display: flex;
}

.shop-front-bundle-elements div {
    flex-basis: 49%;
}

.shop-front-pricerange, .shop-front-price, .shop-front-label {
    display: inline-block;
}

.shop-front-label {
    margin-right: 15px;
}
.shop-front-label:after{
/*    content: ":"; */
}

.shop-front-price {
    font-weight: bold;
    margin-right: 3em;
}

shop-order-paymode {
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding: 15px;
}

.shop-shadow {
    -moz-opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50, FinishOpacity=50, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100);
    opacity: 0.5;
}

.shop-modal-box {
	padding: 40px;
}

.shop-modal-box .shop-front-order  {
	margin-left: auto;
	margin-right: 0;
}

.shop-main-menu td {
    padding: 8px;
}

.shop-category-chooser {
    margin-top: 15px;
}

.shop-category-description {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
}

.shop-front-order * {
    margin-top: 0 !important;
}

.shop-order-item {
    display: inline-block;
    margin-left: 8px;
}

.shop-active-button {
    background-color: green !important;
    background-image: none !important;
    color: white !important;
}

#eula-form-validate {
    margin-top: 20px;
}

.path-local-shop.pagelayout-popup #region-main{
    width: unset;
}

.path-local-shop.pagelayout-popup #page {
    max-width: unset;
    padding-left: 20px;
}

.form-filter-menus,
.form-filter-menus > div {
    margin: 10px;
}

.form-filter-menus div,
.form-filter-menus form {
    display: inline;
}

.shop-pass-state {
    display: inline-block;
}

.shop-category-visible {
    display: block;
}

.shop-category-hidden {
    display: none;
}

.shop-line-commands {
    padding: 3px;
    margin: 2px 2px 2px 5px;
    border: 1px solid #d0d0d0;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.access-code {
    display: block;
    font-size: 2.0em;
    padding: 10px;
}

ul.shop-test-result {
    padding: 4px 4px 4px 20px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: #f0f0f0;
}

.shop-paymodes-choice {
    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 6px;
    margin: 5px 0;
    padding: 10px;
}

.shop-inline,
.shop-inline * {
    display: inline;
}

.caddie .subcats a {
    font-size: 0.9em;
}

.caddie .subcats .nav-tabs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#shop-order-paymode {
    margin-bottom: 15px;
}

.shop-front-description-toggle {
    text-align:center;
    margin-bottom: 20px;
}

td.right-align {
    text-align: right !important;
}

#shop-invoice {
     border: 1px solid #444;
     border-radius: 10px;
}

#page-local-shop-front-view  .generaltable {
     width: 95%;
     margin-left: 20px;
}

#invoice-seller-address {
     padding-left: 20px;
}

#page-local-shop-front-view h1 {
     color : #000;
}

#page-local-shop-front-view .customer-data {
     border: 1px solid #444;
     margin-right: 20px;
     padding-left: 10px;
     padding-bottom: 10px;
}

.sectionHeader h2, h2#invoice-taxes , h2#invoice-paymode, h2#order-mailto{
     margin-left: 20px;
     color:#444;
     border-bottom: 2px solid #444;
     width:95%;
     font-size: 1.5rem;
}

#shop-order-paymode {
     margin-left: 20px;
}

h2.shop-caption {
     margin-left: 40px;
}

/* settings form */
#id_s_local_shop_printconfig {
    font-family: monospace;
}

#page-local-shop-front-view .form-input input[type="text"] {
    padding: 3px;
}

#page-local-shop-front-view .form-label {
    padding-top: 5px;
}

#page-local-shop-front-view #shop-customerinfo {
    padding-left: 20px;
    margin-bottom: 20px;
}

#local-shop-catlinks {
    display: flex;
    justify-content: space-between;
}

.left-links {
    display: inline-block;
}

.right-links {
    display: inline-block;
    text-align: right;
}

.shop-front-description {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}

.shop-front-description b,
.shop-front-description strong {
    font-weight: bolder;
}

.shop-category-description h1 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
}

.shop-category-description h1 b,
.shop-category-description h1 strong {
    font-weight: bolder;
}

#page-local-shop-front-view #region-main {
    min-height: 600px;
}

#page-local-shop-front-view [disabled="disabled"] {
    opacity: 0.5;
}