


<!-- local_shop/admin_options -->
<div id="shop-adminlinks">
{{#str}}adminoptions, local_shop{{/str}} <a href="{{{shopurl}}}">{{{modestr}}}</a>&nbsp;&nbsp;&nbsp;
<a href="{{{backofficeurl}}}" class="btn btn-danger">{{#str}}gotobackoffice, local_shop{{/str}}</a>
</div>
<!-- /local_shop/admin_options -->