


<!-- local_shop/bill_customer_info -->
<div id="shop-customerinfo">
    <table cellspacing="4" width="100%">

        <td width="40%" valign="top" align="right">
            <b>{{#str}}on, local_shop{{/str}}:</b>  {{emissiondate}}
        </td>

    </tr>

    <tr>

        <td width="60%" valign="top">
            <b>{{#str}}organisation, local_shop{{/str}}:</b> {{organisation}}
        </td>

        <td width="40%" valign="top">
        </td>

    </tr>

    {{#useinvoiceinfo}}
    <tr>

        <td width="60%" valign="top">
            <b>{{#str}}department{{/str}}:</b> {{department}}
        </td>

        <td width="40%" valign="top">
        </td>

    </tr>
    {{/useinvoiceinfo}}

    <tr>

        <td width="60%" valign="top">
            <b>{{#str}}customer, local_shop{{/str}}:</b> {{lastname}} {{firstname}}
        </td>

        <td width="40%" valign="top">
        </td>

    </tr>

    <tr>

        <td width="60%" valign="top">
            <b>{{#str}}address{{/str}}: </b> {{{address}}}
        </td>

        <td width="40%" valign="top">
        </td>

    </tr>

    <tr>
        <td width="60%" valign="top">
            <b>{{#str}}city{{/str}}: </b> {{zip}} {{city}}
        </td>
        <td width="40%" valign="top">
        </td>
    </tr>

    <tr>
        <td width="60%" valign="top">
            <b>{{#str}}country{{/str}}:</b> {{country}}
        </td>
        <td width="40%" valign="top">
        </td>
    </tr>

    <tr>
        <td width="60%" valign="top">
            <b>{{#str}}email{{/str}}:</b> {{email}}
        </td>
        <td width="40%" valign="top">
        </td>
    </tr>

    {{#useinvoiceinfo}}
    <tr>
        <td width="60%" valign="top">
            <b>{{vatcode, local_shop{{/str}}:</b> {{vatcode}}
        </td>
        <td width="40%" valign="top">
        </td>
    </tr>
    {{/useinvoiceinfo}}

</table>
</div>
<!-- /local_shop/bill_customer_info -->