
<!-- local_shop/bills_options -->
<div class="shop-bills-tools">
    <div class="shop-bills-options">
        {{{currencyselect}}}
        {{{shopselect}}}
        {{{yearselect}}}
    </div>

    <div class="shop-bills-searchlink">
        <a href="{{{searchurl}}}"><input type="button" value="{{{searchinbillsstr}}}" /></a>
    </div>

    <div class="shop-bills-switchprefs">
        <a href="{{{switchfullviewurl}}}"><input type="button" class="btn" value="{{switchviewstr}}" /></a>
    </div>
</div>
<!-- /local_shop/bills_options -->