{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/bills_options

    Classes required for JS:
    * none

}}
<!-- local_shop/bills_options -->
<div class="shop-bills-tools">
    <div class="shop-bills-options">
        {{{currencyselect}}}
        {{{shopselect}}}
        {{{yearselect}}}
        {{{monthselect}}}
    </div>

    <div class="shop-bills-searchlink">
        <a href="{{{searchurl}}}"><input type="button" value="{{{searchinbillsstr}}}" /></a>
    </div>

    <div class="shop-bills-switchprefs">
        <a href="{{{switchfullviewurl}}}"><input type="button" class="btn" value="{{switchviewstr}}" /></a>
    </div>
</div>
<!-- /local_shop/bills_options -->