

<!-- local_shop/bills_full_taxes -->

    {{#hastaxlines}}

    <h2>{{#str}}taxes, local_shop{{/str}}</h2>

    <table cellspacing="5" class="generaltable" width="100%">

        <tr class="shop-tax" valign="top">
            <th align="left" class="cell c0">
                {{#str}}taxname, local_shop{{/str}}
            </th>

            <th align="left" class="cell c1">
                {{#str}}taxratio, local_shop{{/str}}
            </th>

            <th align="left" class="cell c2 lastcoll">
                {{#str}}taxamount, local_shop{{/str}}
            </th>
        </tr>

        {{#taxlines}}
        <tr class="shop-tax" valign="top">
            <td align="left" class="cell c0">
                {{taxtitle}}
            </td>

            <td align="left" class="cell c1">
                {{taxratio}}
            </td>

            <td align="left" class="cell c2 lastcoll">
                {{{taxamount}}}
            </td>
        </tr>
        {{/taxlines}}
    </table>
    {{/hastaxlines}}
<!-- /local_shop/bills_full_taxes -->
