


<!-- local_shop/flow_controller -->

<div class="shop-bills-flowcontrol">
    <table class="shop-flow-control-header" cellspacing="0" width="100%">
        <tr class="bill-list-title">
            <td valign="top" style="padding : 2px" align="left">
                <a id="shop-flow-control-toggle">
                    {{#pix}}t/switch_plus{{/pix}}
                </a>
            </td>

            <td valign="top" style="padding : 2px" align="left">
                {{#str}}billstates, local_shop{{/str}}
            </td>

            <td valign="top" style="padding : 2px" align="right">
                {{#str}}actualstate, local_shop{{/str}}: <b>{{statusstr}}</b>
            </td>
        </tr>
    </table>

    <table id="shop-flow-controller" width="100%" class="generaltable" cellspacing="0" style="visibility:hidden;display:none">
        <tr valign="middle" >
            <th width="50%" class="header c0" align="left">
                {{#str}}backto, local_shop{{/str}}
            </th>

            <th width="50%" class="header c1" align="right" style="text-align:right">
                {{#str}}goto, local_shop{{/str}}
            </th>
        </tr>

        <tr>
            <td style="padding : 5px" align="left">
                <ul>
                    {{#froms}}
                    <li><a href="{{{url}}}&what=flowchange&status={{fromstate}}">{{label}}</a></li>
                    {{/froms}}
                    {{^froms}}
                    {{#str}}flowControlNetStart, local_shop{{/str}}
                    {{/froms}}
                </ul>
            </td>

            <td style="padding : 5px" align="right">
                <ul>
                    {{#tos}}
                    <li><a href="{{{url}}}&what=flowchange&status={{tostate}}">{{label}}</a></li>
                    {{/tos}}
                    {{^tos}}
                    {{#str}}flowControlNetEnd, local_shop{{/str}}
                    {{/tos}}
                </ul>
            </td>
        </tr>
    </table>
</div>
<!-- /local_shop/flow_controller -->
