


<!-- local_shop/bills_group_subtotal -->
    <tr>
        <td colspan="1" class="groupsubtotal">
            {{#str}}total, local_shop{{/str}}
        </td>

        <td colspan="5" class="groupsubtotal">
        </td>

        <td align="right" class="groupsubtotal">
            {{#issamecurrency}}
                <b>{{subtotal}}&nbsp;{{{currency}}}</b>
            {{/issamecurrency}}
            {{^issamecurrency}}
                {{#str}}nosamecurrency, local_shop{{/str}}
            {{/issamecurrency}}
        </td>
    </tr>
<!-- local_shop/bills_group_subtotal -->
