
<!-- local_shop/bills_bill_view_links -->

<div id="shop-view-links">
    <a class="btn button" href={{excelurl}} target="_blank">{{#str}}exportasxls, local_shop{{/str}}</a>
    <a class="btn button" href={{billurl}}>{{#str}}newbill, local_shop{{/str}}</a>
</div>

<!-- /local_shop/bills_bill_view_links -->