


<!-- local_shop/bills_lettering_form -->
<form name="billletteringform" action="" method="post" >
<input type="hidden" name="view" value="viewBill" />
<input type="hidden" name="shopid" value="{{shopid}}" />
<input type="hidden" name="billid" value="{{billid}}" />
<input type="hidden" name="what" value="reclettering" />
<input type="text" name="idnumber" value="{{idnumber}}" />
<input type="submit" name="go_lettering" value="{{#str}}updatelettering, local_shop{{/str}}" />
</form>
<!-- /local_shop/bills_lettering_form -->
