
<!-- local_shop/bills_no_items -->
    <tr class="billrow" height="100">
        <td valign="top" style="padding : 2px" class="billItemMessage" colspan="10">
            {{#str}}emptybill, local_shop{{/str}}
        </td>
    </tr>
<!-- /local_shop/bills_no_items -->
