
<!-- local_shop/bills_relocate_box -->

<tr class="billRow">
    <td>
    <a href="{{relocateurl}}"><img src="{{pixurl}}" class="shop-relocate-box" ></a>
    </td>
</tr>
<!-- /local_shop/bills_relocate_box -->