<!-- local_shop/bills_bill_control -->

<table width="100%">
    <tr>
    {{#bill}}
        <td align="right">
            <a href="{{billiteurl}}">{{#str}}newbillitem, local_shop{{/str}}</a>
        </td>
    {{/bill}}
        <a href="{{recalurl}}">{{#str}}recalculate, local_shop{{/str}}</a>
    </tr>
</table>
<br />        

<!-- /local_shop/bills_bill_control -->