


<!-- local_shop/bills_group_subtotal -->
    <tr>
        <td colspan="1" class="groupsubtotal">
        <b></b>{{#str}}total, local_shop{{/str}}</b>
        </td>

        <td colspan="{{span}}" class="groupsubtotal">
        </td>

        <td align="right" class="groupsubtotal">
            {{#issamecurrency}}
                <div class="amount-primary" data-source="{{source1}}"><b>{{subtotal1}}&nbsp;{{{currency}}}</b></div>
                {{#hassubtotal2}}
                <div class="amount-secondary" data-source="{{source2}}"><b>{{subtotal2}}&nbsp;{{{currency}}}</b></div>
                {{/hassubtotal2}}
            {{/issamecurrency}}
            {{^issamecurrency}}
                {{#str}}nosamecurrency, local_shop{{/str}}
            {{/issamecurrency}}
        </td>
    </tr>
<!-- local_shop/bills_group_subtotal -->
