


<!-- local_shop/catalogs_new_instance-->
<div id="shop-new-catalog" class="pull-right">
    <a href="{{{editurl}}}">{{#str}}newcatalog, local_shop{{/str}}</a>
</div>
<!-- /local_shop/catalogs_new_instance -->