

<!-- local_shop/discount_view_link -->
<br/>
<div class="pull-right">
<a class="btn btn-primary button" href="{{{newdiscounturl}}}">{{#str}}newdiscountinstance, local_shop{{/str}}</a>
</div>
<!-- /local_shop/discount_view_link -->
