

<!-- local_shop/customer_view_link -->
<br/>
<div class="pull-right">
<a class="btn button" href="{{{newdiscounturl}}}">{{#str}}newdiscountinstance, local_shop{{/str}}</a>
</div>
<!-- /local_shop/customer_view_link -->
