{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_action_form

    Classes required for JS:
    * none

}}
<!-- local_shop/front_action_form -->
<p align="center">

{{^isinform}}
<form name="driverform" action="{{{actionurl}}}">
{{/isinform}}

    <input type="hidden" name="view" value="{{view}}" />
    <input type="hidden" name="shopid" value="{{shopid}}" />
    <input type="hidden" name="blockid" value="{{blockid}}" />
{{#wantstransid}}
    <input type="hidden" name="transid" value="{{transid}}" />
{{/wantstransid}}
    <input type="hidden" name="what" value="navigate" />
    <input type="hidden" name="sesskey" value="{{{sesskey}}}" />
{{^hideback}}
    <input type="submit" name="back" value="{{#str}}previous, local_shop{{/str}}" />
{{/hideback}}
{{^hidenext}}
    &nbsp;<input title="{{{overtext}}}"
                          type="submit"
                          id="next-button"
                          name="go"
                          value="{{{nextstr}}}"
                          {{{nextdisabled}}}
                          style="{{{nextstyle}}}" />
{{/hidenext}}

{{^isinform}}
</form>
{{/isinform}}
</p>
<!-- /local_shop/front_action_form -->
