{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_order_short
s
    Classes required for JS:
    * none

}}
<!-- local_shop/front_order_short -->
<div class="shop-order-short">
    <table width="100%">
        <tr>
            <td>
                {{#str}}transactionid, local_shop{{/str}}
            </td>
            <td>
                {{transid}}
            </td>
        </tr>

        <tr>
            <td>
                {{#str}}untaxedtotal, local_shop{{/str}}
            </td>
            <td class="right-align">
                {{{untaxedtotal}}}&nbsp;{{{currency}}}
            </td>
        </tr>

        {{#tax}}}
        <tr>
            <td class="shop-tax-line">
                {{#str}}taxes, local_shop{{/str}}: {{taxtitle}}
            </td>
            <td class="shop-tax-line right-align">
                {{{taxsum}}}&nbsp;{{{currency}}}
            </td>
        </tr>
        {{/tax}}}

        {{#discountrate}}
        <tr>
            <td>
                {{#str}}discount, local_shop{{/str}}
            </td>
            <td class="right-align">
                {{{discountedtaxed}}}&nbsp;{{{currency}}}
            </td>
        </tr>
        {{/discountrate}}

        {{#hasshipping}}
        <tr>
            <td>
                {{#str}}shipping, local_shop{{/str}}
            </td>
            <td class="right-align">
                {{{shippingvalue}}}&nbsp{{{currency}}}
            </td>
        </tr>
        {{/hasshipping}}

        <tr>
            <td>
                {{#str}}finaltotal, local_shop{{/str}}
            </td>
            <td class="right-align">
                {{{finalshippedtaxedtotal}}}&nbsp;{{{currency}}}
            </td>
        </tr>
    </table>
</div>
<!-- /local_shop/front_order_short -->
