

<!-- productset -->
<div class="shop-article set">
    <div class="shop-front-setcaption">
        <h2>{{name}}</h2>
        <div class="shop-front-description">{{{description}}}</div>
    </div>

    <div class="shop-front-elements fluid-row">
    {{#elements}}
        {{{element}}}
    {{/elements}}
    </div>
</div>
<!-- /productset -->
