{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_customer_form

    Classes required for JS:
    * none

}}
<!-- local_shop/front_customer_form -->
<div id="shop-customerdata">
    <fieldset class="quickform-fieldset clearfix">
        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_lastname">{{#str}}lastname{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_lastname"
                       name="customerinfo::lastname"
                       size="20"
                       onchange="setupper(this)" value="{{{lastname}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_firstname">{{#str}}firstname{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_firstname"
                       name="customerinfo::firstname"
                       size="20"
                       onchange="capitalizewords(this)" value="{{{firstname}}}" />
            </div>
        </div>

        {{#customerorganisationrequired}}
        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_organisation">{{#str}}organisation, local_shop{{/str}}:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_organisation"
                       name="customerinfo::organisation"
                       size="26"
                       maxlength="64"
                       value="{{{organisation}}}" />
            </div>
        </div>
        {{/customerorganisationrequired}}

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_address">{{#str}}address{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_address"
                       name="customerinfo::address"
                       size="26"
                       onchange="setupper(this)" value="{{{address}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_city">{{#str}}city{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_city"
                       name="customerinfo::city"
                       size="26"
                       onchange="setupper(this)" value="{{{city}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_zip">{{#str}}zip, local_shop{{/str}}<sup style="color : red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_zip"
                       name="customerinfo::zip"
                       size="6"
                       value="{{zip}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_country">{{#str}}country{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement fselect">
                {{{countryselect}}}
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_email">{{#str}}email, local_shop{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                {{#mailislocked}}
                <input type="text"
                       id="id_email"
                       name="customerinfo::email_disabled"
                       size="30"
                       value="{{{email}}}" disabled="disabled" />
                <input type="hidden" name="customerinfo::email" value="{{{email}}}" />
                {{#notsamemail}}
                <br/><div class="shop-warning">{{#str}}notsameaccountmail, local_shop, {{givenmail}} {{/str}}</div>
                {{/notsamemail}}
                {{/mailislocked}}
                {{^mailislocked}}
                <input type="text"
                       id="id_email"
                       name="customerinfo::email"
                       size="30"
                       onchange="checkemail(this)" value="{{{email}}}" />
                {{/mailislocked}}
            </div>
        </div>
    </fieldset>
</div>
<!-- /local_shop/front_customer_form -->