{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_payment

    Classes required for JS:
    * none

}}
<!-- local_shop/front_payment -->
<table width="100%" id="shop-paymodes">
    <tr>
        <td valign="top" colspan="1">
            {{#str}}choosepaymentmode, local_shop{{/str}}
            <sup>*</sup>:
        </td>
    </tr>
    <tr>
        <td valign="top" align="left">
            <div class="shop-paymodes-choice">
                {{#nullamount}}
                <input type="hidden" name="paymode" value="freeorder" />
                <em>{{#str}}freeordersignal, local_shop{{/str}}</em>
                {{/nullamount}}
                {{^nullamount}}
                {{#paymode}}
                    <input type="radio" name="paymode" value="{{var}}" {{checked}} />
                    <em>{{{paymodename}}}</em>
                    <br/>
                {{/paymode}}
                {{^paymode}}
                {{{nopaymodesavailablenotification}}}
                {{/paymode}}
                {{/nullamount}}
            </div>
        </td>
    </tr>
</table>
<!-- /local_shop/front_payment -->
