{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_userquiz_monitor/availableattempts

    Template displaying the examination available attempts report.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}
<!-- local_shop/front_eulaform -->
<div id="euladiv">
    <h3>{{#str}}eulaheading, local_shop{{/str}}</h3>
    <p><b>{{#str}}eula_help, local_shop, sitename{{/str}}</b></p>
    <div id="eulas-panel">

         {{{eula}}}

         <center>
            <form name="eulaform" id="eula-form-validate">
                <input type="checkbox" name="agreeeula" id="shop-agreeeula" value="1" aria-labelledby="agree-eulas">
                <label id="agree-eulas">{{#str}}eulaagree, local_shop{{/str}}</label>
                <br/>
                <br/>
                <input id="shop-eula-confirm" type="button" name="accept_btn" value="{{#str}}confirm, local_shop{{/str}}">
            </form>
        </center>
    </div>
</div>
<!-- /local_shop/front_eulaform -->
