

<!-- local_shop/front_add_participant -->
<div id="addparticipant-line" {{newparticipantstyle}}>
    <div id="addparticipant" style="text-align:left">
        <p>
            {{{helper}}}
            {{#str}}participanthelper2, local_shop, {{seats}}{{/str}}
        </p>
    </div>

    <div id="addparticipant">
        {{{newform}}}
    </div>
</div>
<!-- /local_shop/front_add_participant -->
