


<div class="shop-article bundle">
    {{image}}

    <div class="shop-front-productpix">{{imagestr}}</div>

    <div class="shop-front-productdef">
        {{#ispart}}
            <div class="shop-front-partof">{{name}}</div>
        {{/ispart}}
        {{^ispart}}
            <h2>{{name}}</h2>
            {{#hasdescription}}
            <div class="shop-front-description">{{{description}}}</div>
            {{/hasdescription}}
        {{/ispart}}

        {{#hasleaflet}}
            <div class="shop-front-leaflet"><a href="{{{leafleturl}}}" target="_blank">{{linklabel}}</a></div>
        {{/hasleaflet}}

        <div class="shop-front-refblock">
            <div class="shop-front-ref">{{refstr}} : {{code}}</div>

            {{#elements}}
                {{element}}
            {{/elements}}

            {{^pricelist}}
            <div class="shop-front-label">{{puttcstr}}</div>
            <div class="shop-front-price">{{price}} {{{currencystr}}}</div>
            {{/pricelist}}
            {{#pricelist}}

            <div class="shop-front-pricelist">
                <div class="shop-front-label">{{puttcstr}}</div>
                {{#prices}}
                <div class="shop-front-pricerange">{{range}} : </div>
                <div class="shop-front-price">{{price}} {{{currencystr}}}</div>
                {{/prices}}
            </div>
            {{/pricelist}}

            <div class="shop-front-order">
                {{#password}}

                <input type="text"
                       id = "ci-pass-{{shortname}}"
                       value = ""
                       maxlength = "8"
                       size = "8"
                       onkeypress = "{{{jshandler}}}"
                       title = "{{needspasscodetobuystr}}" />
                <div id="ci-pass-status-{{shortname}}" class="shop-pass-state"></div>
                {{/password}}

                <input type="button"
                    id = "ci-{{shortname}}"
                    value = "{{buystr}}"
                    onclick = "{{{jshandleraddunit}}}" {{{disabled}}} />

                <div class = "shop-order-item" id="bag_{{shortname}}">
                    {{{units}}}
                </div>

            </div>
        </div>
    </div>
</div>
