{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_product_total_line

    Classes required for JS:
    * none

}}
<!-- local_shop/front_product_total_line -->
    <tr id="producttotalcaption_{{shortname}}">
        <td class="shop-ordercaptioncell" colspan="3">
            {{productname}}
        </td>
    </tr>

    <tr id="producttotal_{{shortname}}">
        <td class="shop-ordercell">

            {{#isshopview}}
            <a title="'{{#str}}clearall, local_shop{{/str}}" href="{{{clearjshandler}}}">{{#pix}}t/delete, core{{/pix}}</a>
            {{/isshopview}}

            <input type="text"
                class="order-detail"
                id="id_{{shortname}}"
                name="{{shortname}}"
                value="{{preset}}"
                size="3"
                style="width:40px"
                onChange="{{{jshandler}}}" {{{disabled}}} >
        </td>
        <td class="shop-ordercell">
            {{{code}}}  {{ttcprice}}&nbsp;{{{currency}}} :
        </td>
        <td class="shop-ordercell">
            <input type="text"
                class="order-detail"
                id="id_total_{{shortname}}"
                name="{{shortname}}_total"
                value="{{total}}"
                size="6"
                disabled
                class="totals" />
        </td>
    </tr>
<!-- /local_shop/front_product_total_line -->
