{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_order_totals

    Classes required for JS:
    * none

}}
<!-- local_shop/front_order_totals -->
<table cellspacing="5" class="generaltable" width="100%">
    <tr valign="top">
        <th colspan="3" class="cell c0">
            {{#str}}totals, local_shop{{/str}}
        </th>
    </tr>

    <tr valign="top">
        <td width="40%" class="cell c0">
            {{#str}}subtotal, local_shop{{/str}}}
        </td>

        <td width="40%" class="cell c1">
            &nbsp;
        </td>

        <td width="20%" align="right" style="text-align:right" class="cell c2 lastcol">
            {{{taxedtotal}}}&nbsp;{{{currency}}}
        </td>
    </tr>

    {{#discountrate}}
    <tr valign="top">
        <td width="40%" class="cell c0">
            &nbsp;
        </td>
        <td width="40%" class="shop-totaltitle ratio cell c1">
            {{#str}}discount, local_shop{{/str}} :
        </td>

        <td width="20%" align="right" class="shop-totals ratio cell c2">
            <b>-{{discountrate}} %</b>
        </td>
    </tr>

    <tr valign="top">
        <td width="40%" class="cell c0">
            &nbsp;
        </td>

        <td width="40%" class="shop-totaltitle ratio cell c1">
            {{#str}}discountamount, local_shop{{/str}} :
        </td>
        <td width="20%" align="right" class="shop-totals ratio cell c2">
            {{{discount}}}&nbsp;{{{currency}}}</b>
        </td>
    </tr>
    {{/discountrate}}

    <tr valign="top">
        <td width="40%" class="cell c0 shop-totaltitle topay">
            <b>{{#str}}finaltotalprice, local_shop{{/str}}</b>:
        </td>

        <td width="40%" class="cell c1">
            &nbsp;
        </td>

        <td width="20%" align="right" style="text-align:right" class="cell c2 shop-total topay">
            <b>{{{finaltaxedtotal}}}&nbsp;{{{currency}}}</b>
        </td>
    </tr>

    <tr valign="top">
        <td width="40%" class="cell c0">
            {{#str}}untaxedsubtotal, local_shop{{/str}}
        </td>

        <td width="40%" class="cell c1">
            &nbsp;
        </td>
        <td width="20%" align="right" style="text-align:right" class="cell c2 lastcol">
            {{{finaluntaxedtotal}}}&nbsp;{{{currency}}}
        </td>
    </tr>

    {{#hasshipping}}
    <tr valign="top">
        <td width="40%" class="cell c0">
            &nbsp;
        </td>

        <td width="40%" class="cell c1 shop-totaltitle">
            {{#str}}shipping, local_shop{{/str}} :
        </td>

        <td width="20%" align="right" style="text-align:right" class="cell c2 shop-totals">
            {{{shippingtaxedvalue}}}&nbsp;{{{currency}}}
        </td>
    </tr>

    <tr valign="top">
        <td width="40%" class="cell c0 shop-totaltitle topay">
            <b>{{#str}}finaltotalprice, local_shop{{/str}}</b>:
        </td>

        <td width="40%" class="cell c1">
            &nbsp;
        </td>

        <td width="20%" align="right" style="text-align:right" class="cell c2 shop-total topay">
            <b>{{{finalshippedtaxedtotal}}}&nbsp;{{{currency}}}
        </td>
    </tr>
    {{/hasshipping}}

</table>
<!-- /local_shop/front_order_totals -->