{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_product_bundle

    Classes required for JS:
    * none

}}
<!-- local_shop/front_product_bundle -->
<div class="shop-article bundle" data-pid="{{id}}">

    <div class="shop-front-productpix">{{{image}}}</div>

    <div class="shop-front-productdef">
        {{#ispart}}
            <div class="shop-front-partof">{{{name}}} {{#canedit}}{{{editlink}}}{{/canedit}}</div>
        {{/ispart}}
        {{^ispart}}
            {{^smarturl}}
            <h1>{{{name}}}</h1>
            {{/smarturl}}
            {{#smarturl}}
            <a href="{{{smarturl}}}" target="_blank"><h1>{{name}}</h1></a> {{#canedit}}{{{editlink}}}{{/canedit}}
            {{/smarturl}}
            {{> local_shop/front_modal_product }}
        {{/ispart}}

        {{#hasleaflet}}
            <div class="shop-front-leaflet"><a href="{{{leafleturl}}}" target="_blank">{{linklabel}}</a></div>
        {{/hasleaflet}}

        <div class="shop-front-bundle-content">

            <div class="shop-front-bundle-elements">
                {{#elements}}
                    {{> local_shop/front_product_block}}
                {{/elements}}
            </div>

            {{#canorder}}
            <div class="shop-front-refblock">
                <div class="shop-front-ref-group">
                    <div class="shop-front-ref">{{refstr}}&nbsp;: {{{code}}}</div>

                    <div class="shop-front-pricelist">
                        {{^pricelist}}
                        <div class="shop-front-label">{{puttcstr}}</div>
                        <div class="shop-front-price-container"><div class="shop-front-price">{{price}}&nbsp;{{{currencystr}}}</div></div>
                        {{/pricelist}}
                        {{#pricelist}}

                        <div class="shop-front-label">{{puttcstr}}</div>
                            {{#prices}}
                            <div class="shop-front-pricerange">{{range}}&nbsp;: </div>
                            <div class="shop-front-price-container"><div class="shop-front-price">{{price}}&nbsp;{{{currencystr}}}</div></div>
                            {{/prices}}
                        {{/pricelist}}
                    </div>
                </div>

                <div class="shop-front-ref-group">
                    {{#available}}
                    <div class="shop-front-order">
                        {{#password}}
                        <input type="text"
                                id="ci-pass-{{shortname}}"
                                data-product="{{shortname}}"
                                value=""
                                maxlength="8"
                                size="8"
                                class="local-shop-password"
                                title="{{needspasscodetobuystr}}" />
                        <div id="ci-pass-status-{{shortname}}" class="shop-pass-state"></div>

                        {{/password}}
                        <input type="button"
                                        id="ci-{{shortname}}"
                                        value="{{buystr}}"
                                        data-seoalias="{{seoalias}}"
                                        data-product="{{shortname}}"
                                        data-maxquant="{{maxdeliveryquant}}"
                                        class="local-shop-add-unit"
                                        {{{disabled}}} />

                    </div>
                    {{/available}}

                    <div class="shop-order-bag">
                        <div class="shop-order-item" id="bag_{{shortname}}">{{{units}}}</div>
                    </div>
                </div>
            </div>
            {{/canorder}}

        </div>
    </div>
</div>
<!-- /local_shop/front_product_bundle -->
