

<!-- local_shop/front_assignation_row -->
        <tr>
            <td align="left">
                {{lastname}}
            </td>

            <td align="left">
                {{firstname}}
            </td>

            <td align="right">
                <a class="local-shop-delete-assign"
                    data-product="{{shortname}}"
                    data-role="{{role}}"
                    data-email="{{email}}">{{#pix}}t/delete, delete{{/pix}}</a>
            </td>
    </tr>
<!-- /local_shop/front_assignation_row -->
