{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/front_invoice_form

    Classes required for JS:
    * none

}}
<!-- local_shop/front_invoice_form -->
<div id="shop-organisationdata">
    <fieldset class="quickform-fieldset clearfix">
        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_organisation">{{#str}}organisation, local_shop{{/str}}:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_organisation"
                       name="invoiceinfo::organisation"
                       size="26"
                       maxlength="64"
                       value="{{{institution}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_department">{{#str}}department{{/str}}:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_department"
                       name="invoiceinfo::department"
                       size="26"
                       maxlength="64"
                       value="{{{department}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_lastname">{{#str}}lastname{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_lastname"
                       name="invoiceinfo::lastname"
                       size="20"
                       maxlength="40"
                       onchange="setupper(this)"
                       value="{{{lastname}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_firstname">{{#str}}firstname{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_firstname"
                       name="invoiceinfo::firstname"
                       size="20"
                       maxlength="40"
                       onchange="capitalizewords(this)"
                       value="{{{firstname}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_email">{{#str}}email{{/str}}:</b>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_email"
                       name="invoiceinfo::email"
                       size="50"
                       maxlength="80"
                       onchange="checkemail(this)"
                       value="{{{email}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_address">{{#str}}address{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_address"
                       name="invoiceinfo::address"
                       size="50"
                       maxlength="255"
                       onchange="setupper(this)"
                       value="{{{address}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_city">{{#str}}city{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_city"
                       name="invoiceinfo::city"
                       size="26"
                       maxlength="40"
                       onchange="setupper(this)"
                       value="{{{city}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_zip">{{#str}}zip, local_shop{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_invoice_zip"
                       name="invoiceinfo::zip"
                       size="6"
                       maxlength="6"
                       value="{{{zip}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_invoice_country">{{#str}}country{{/str}}<sup style="color: red">*</sup>:</label>
            </div>
            <div class="felement fselect">
                {{{countryselect}}}
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label for="id_vatcode">{{#str}}vatcode, local_shop{{/str}}:</label>
            </div>
            <div class="felement ftext">
                <input type="text"
                       id="id_vatcode"
                       name="invoiceinfo::vatcode"
                       size="15"
                       maxlength="20"
                       value="{{{vatcode}}}" />
            </div>
        </div>

        <div class="fcontainer clearfix">
            <div class="fitemtitle">
                <label></label>
            <div class="felement fhidden">
                <input type="hidden"
                       name="invoiceinfo::plantcode"
                       value="" />
            </div>
        </div>
    </fieldset>
</div>
<!-- local_shop/front_invoice_form -->
