

<!-- local_shop/products_shopheader -->
<table width="100%">
    <tr>
        <td><b>{{{name}}}</b></td>
        <td>{{{description}}}</td>
    </tr>
</table>
<!-- /local_shop/products_shopheader -->