

<!-- local_shop/products_catalogheader -->
<table width="100%">
    <tr>
        <td>{{#str}}name, local_shop{{/str}}</td>
        <td>{{{catalogname}}}</td>
        <td>
            {{#ismaster}}
                {{#str}}master, local_shop{{/str}}
            {{/ismaster}}
            {{#isslave}}
                {{#str}}slave, local_shop{{/str}}
            {{/isslave}}
            {{#isstandalone}}
                {{#str}}standalone, local_shop{{/str}}
            {{/isstandalone}}
        </td>
    </tr>

    <tr>
        <td class="param">{{#str}}description{{/str}}</div>
        <td class="value" colspan="2">{{{description}}}</td>
        <td></td>
    </tr>

    <tr>
        <td class="param">{{#str}}shops, local_shop{{/str}}</td>
        <td class="value">
            {{shops}}
            {{#shopdata}}
            <a class="button btn-secondary" href="/local/shop/products/view.php?view=viewAllProducts&catalogid={{maincatid}}">{{{name}}}</a>
            {{/shopdata}}
        </td>
        <td></td>
    </tr>

</table>
<!-- /local_shop/products_catalogheader -->