{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/purchaselist

    Classes required for JS:
    * none

}}
<!-- local_shop/purchaselist -->
<form name="selection" action="{{{formurl}}}" method="get">
<input type="hidden" name="view" value="viewAllProductInstances" />
<input type="hidden" name="what" value="" />
<input type="hidden" name="customerid" value="{{customerid}}" />
<input type="hidden" name="shopowner" value="{{shopowner}}" />
<table width="100%" class="shoptable">

    <tr class="shop-products-caption" valign="top">
        <th width="2%" class="header c0">{{#str}}sel, local_shop{{/str}} <span id="purchase-select-all">{{#str}}selall, local_shop{{/str}} </span><span id="purchase-select-none">{{#str}}selnone, local_shop{{/str}}</span></th>
        <th width="6%" class="header c1"></th>
        <th width="20%" class="header c2">{{#str}}code, local_shop{{/str}}</th>
        <th width="20%"class="header c3">{{#str}}reference, local_shop{{/str}}</th>
        <th width="2%" class="header c4">{{#str}}bill, local_shop{{/str}}</th>
        <th width="2%"class="header c5">{{#str}}renewable, local_shop{{/str}}</th>
        <th width="8%" class="header c6">{{#str}}contexttype, local_shop{{/str}}</th>
        <th width="4%"class="header c7">{{#str}}instance, local_shop{{/str}}</th>
        <th width="6%" class="header c8" align="right">{{#str}}startdate, local_shop{{/str}}</th>
        <th width="6%" class="header c9" align="right">{{#str}}enddate, local_shop{{/str}}</th>
        <th class="header lastcol" width="5%"></th>
    </tr>

    {{#products}}
    <tr class="shop-productinstance-row" valign="top" id="product-instance-{{id}}">
        <td width="2%" class="cell c0 {{statusclass}}" align="center">{{{selcheckbox}}}</td>
        <td width="6%" class="cell c1" align="center"><img src="{{{thumburl}}}" vspace="10" height="50"></td>
        <td width="20%" class="cell c2 product-code" align="left">{{{code}}}<br/><span class="purchased-product-name">{{{designation}}}</span></td>
        <td width="20%" class="cell c3 product-ref" align="left">{{reference}}{{#extradata}}<br/><span class="purchased-product-extradata">{{{extradata}}}</span>{{/extradata}}</td>
        <td width="2%" class="cell c4">{{{currentbilllink}}}</td>
        <td width="2%" class="cell c5">{{renewable}}</td>
        <td width="8%" class="cell c6">{{contexttype}}</td>
        <td width="4%" class="cell c7">{{{instancelink}}}</td>
        <td width="6%" class="cell c8">{{pstart}}</td>
        <td width="6%" class="cell c9"><span class="{{statusclass}}">{{pend}}</span></td>
        <td align="right" class="lastcol {{statusclass}}"><div class="shop-line-commands">{{{commands}}}</div></td>
    </tr>
    {{/products}}
</table>
</form>
<!-- /local_shop/purchaselist -->

{{#js}}
require(['jquery', 'core/log'], function($, log) {
    var purchasemanager_purchaselist = {
        init: function() {
            $('#purchase-select-all').bind('click', this.select_all);
            $('#purchase-select-none').bind('click', this.select_none);
            $('.purchase-selects').bind('click', this.check_list_state);
            this.check_list_state();
            log.debug('purchaselist in-template initialized');
        },
        select_all: function() {
            $('.purchase-selects').prop('checked', true);
        },
        select_none: function() {
            $('.purchase-selects').prop('checked', null);
        },
        check_list_state: function() {
            var selchecked = $('.purchase-selects:checked');
            if (selchecked.length > 0) {
                $('#purchase-selection-tools').prop('disabled', null);
            } else {
                $('#purchase-selection-tools').prop('disabled', 'disabled');
            }
        }
    };
    purchasemanager_purchaselist.init();
});
{{/js}}
