

<!-- local_shop/purchasemanager_filters -->

<div class="form-filter-menus">
    <div class="form-filter-owner">
    {{{ownermenu}}}
    </div>
    <div class="form-filter-customer">
    {{{customermenu}}}
    </div>
</div>

<!-- /local_shop/purchasemanager_filters -->