{{!
    This file is part of The Local Shop Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_shop/purchaselist

    Classes required for JS:
    * none

}}
<!-- purchaselist -->
<form name="selection" action="{{{formurl}}}" method="get">
<input type="hidden" name="view" value="viewAllProductInstances" />
<input type="hidden" name="what" value="" />
<input type="hidden" name="customerid" value="{{customerid}}" />
<input type="hidden" name="shopowner" value="{{shopowner}}" />
<table width="100%" class="shoptable">

    <tr class="shop-products-caption" valign="top">
        <th width="2%" class="header c0">{{#str}}sel, local_shop{{/str}}</th>
        <th class="header c1">{{#str}}image, local_shop{{/str}}</th>
        <th class="header c2">{{#str}}code, local_shop{{/str}}</th>
        <th class="header c3">{{#str}}reference, local_shop{{/str}}</th>
        <th class="header c4">{{#str}}bill, local_shop{{/str}}</th>
        <th class="header c5">{{#str}}renewable, local_shop{{/str}}</th>
        <th class="header c6">{{#str}}contexttype, local_shop{{/str}}</th>
        <th class="header c7">{{#str}}instance, local_shop{{/str}}</th>
        <th class="header c8" align="right">{{#str}}startdate, local_shop{{/str}}</th>
        <th class="header c9" align="right">{{#str}}enddate, local_shop{{/str}}</th>
        <th class="header lastcol" width="5%"></th>
    </tr>

    {{#products}}
    <tr class="shop-productinstance-row" valign="top">
        <td width="2%" class="cell c0 {{statusclass}}" align="center">{{{selcheckbox}}}</td>
        <td class="cell c1" align="center"><img src="{{{thumburl}}}" vspace="10" height="50"></td>
        <td class="cell c2" align="left">{{{code}}}<br/>{{{name}}}</td>
        <td class="cell c3" align="left">{{reference}}</td>
        <td class="cell c4">{{{currentbilllink}}}</td>
        <td class="cell c5">{{renewable}}</td>
        <td class="cell c6">{{contexttype}}</td>
        <td class="cell c7">{{{instancelink}}}</td>
        <td class="cell c_">{{pstart}}</td>
        <td class="cell cç">{{pend}}</td>
        <td align="right" class="lastcol {{statusclass}}"><div class="shop-line-commands">{{{commands}}}</div></td>
    </tr>
    {{/products}}
</table>
</form>
<!-- /purchaselist -->
