<!-- local_shop/smart_summary -->

<h1>{{{shopname}}}</h1>

<div class="smartsummary">
<ul>
{{#products}}
<li>[{{code}}] <a href="{{{url}}}">{{{name}}}</a></li>
{{/products}}
</ul>
</div>

<!-- /local_shop/smart_summary -->
