


<!-- extradata_enrolonecoursemultiple -->
<div class="cs-extradata">
    <div class="cs-product-key">{{{customerenvstr}}}</div>
    <div class="cs-product-value">{{{customerenv}}}</div>
</div>
<!-- /extradata_enrolonecoursemultiple -->